@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
@import url("https://fonts.cdnfonts.com/css/bricolage-grotesque");

/* Root Styling */
:root {
  --sf-pro: "SF Pro Display";
  --bricolage: "Bricolage Grotesque";
  --bg-clr: #fff;
  --text-clr: #010101;
  --text-disable: #777;
  --website-orange: #fda228;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}

body,
html {
  height: 100%;
  width: 100%;
  font-family: var(--sf-pro);
}
